@page "/AdultView"
@using Models
@using Data
@using System.IO
@inject IAdultService AdultService
@inject NavigationManager navigationManager
<h3>AdultView</h3>

@if (Adults == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else if (!Adults.Any()) {
    <p>
        <em>No adults found</em>
    </p>
}
else {
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var adult in Adults) {
            <tr>
                <td>@adult.Id</td>
                <td>@adult.FirstName</td>
                <td>@adult.LastName</td>
                <td>
                    <button @onclick="@(() => DetailedView(adult.Id))">
                        <i class="oi oi-eye" style="color: #1b6ec2"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Adult> Adults;

    protected override async Task OnInitializedAsync() {
    //weird thing happens here, why do i have to cast it
        Adults = (List<Adult>) AdultService.Adults;
    }

    private void DetailedView(int adultId) {
        navigationManager.NavigateTo($"DetailedAdultView/{adultId}");
    }

}