@page "/AdultView"
@using Models
@using Data
@using System.IO
@inject IAdultService AdultService
<h3>AdultView</h3>

@if (Adults == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else if (!Adults.Any()) {
    <p>
        <em>No adults found</em>
    </p>
}

@code {
    List<Adult> Adults;

    protected override async Task OnInitializedAsync() {
        //weird thing happens here, why do i have to cast it
        Adults = (List<Adult>) AdultService.Adults;
    }
}